
body {
    background-color: #3498db;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.head {
    background-color: #0375c2;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    margin-top: 20px;
    text-transform: uppercase;
    position: relative; /* Para que los elementos estén sobre la imagen */
    z-index: 2; /* Por encima de la imagen de fondo */
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    max-width: 65%;
    margin: 0 auto;
    position: relative; /* Para que los elementos estén sobre la imagen */
    z-index: 2; /* Por encima de la imagen de fondo */
}
.section {
    margin: 20px 0; /* Margen superior e inferior */
    border: 2px solid #3498db; /* Borde negro */
    padding: 10px; /* Espacio interno */
}

.title2 {
    background-color: #3498db; /* Fondo negro */
    color: #ffffff; /* Texto blanco */
    text-transform: uppercase; /* Texto en mayúsculas */
    padding: 10px; /* Espacio interno */
    text-align: left; /* Alinear a la izquierda */
}

.contenido2 {
    text-transform: capitalize; /* Capitalizar la primera letra de cada palabra */
    padding: 10px; /* Espacio interno */
}

.card {
    background-color: #ffffff;
    border: 3px solid #ccc;
    transition: max-height 0.3s;
    max-height: 60px;
    overflow: hidden;
    box-shadow: 0 8px 16px #3498db;
    padding: 10px;
    cursor: pointer;
}

.card.show {
    max-height: 400px;
    overflow-y: auto;
}

.header {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px;
    text-align: left;
    transition: 0.3s;
}

.header:hover {
    background-color: #0375c2;
}

.footer {
    background-color: #0375c2;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}
.imgb {
    float: right; /* Alinear la imagen a la derecha */
    margin: 10px; /* Espacio alrededor de la imagen */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Efecto de sombra */
    border-radius: 5px; /* Borde redondeado para suavizar el aspecto */
}
/* Imagen de fondo */
.background-image {
    position: absolute;
    top: 10%; /* Colocada un poco más abajo del borde superior */
    left: 10%; /* Colocada un poco más hacia la derecha */
    width: 80%; /* Ocupa el 80% de la pantalla */
    height: 80%; /* También ocupa el 80% de altura */
    z-index: 1; /* Imagen detrás de otros elementos */
    opacity: 0.5; /* Transparencia para que no oculte el contenido frontal */
}