body {
    font-family: Arial, sans-serif;
    background-color: #a0d3e6; /* Fondo celeste */
    color: #ffffff; /* Texto fuera de la tabla en blanco */
    text-transform: uppercase; /* Todo el texto en mayúsculas */
    margin: 20px;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #3f85cf; /* Azul claro */
    transition: all 0.3s ease;
}

a:hover {
    background-color: #2977cb; /* Azul más oscuro al pasar el ratón */
}

.table-container {
    width: 75%;
    margin: 0 auto; /* Centra la tabla horizontalmente */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff; /* Fondo de la tabla blanco */
    color: #333; /* Color del texto dentro de la tabla */
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Línea separadora */
}

th {
    background-color: #5fa2e1; /* Fondo de los encabezados */
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Alterna el color de las filas */
}

tr:nth-child(odd) {
    background-color: #ffffff; /* Alterna el color de las filas */
}

tr:hover {
    background-color: #5fa2e1; /* Color al pasar el ratón sobre las filas */
    color: #ffffff;
}

.btn {
    padding: 8px 12px;
    background-color: #2ca0ce; /* Azul claro */
    color: #333; /* Texto en el botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #ffffff; /* Cambia a un azul más intenso al pasar el ratón */
}