

body {
	font-family: Arial, sans-serif;
	text-transform: uppercase;
}

a {
    text-align: center;
}

h1 {
	text-align: center;
	color: #3498db;
}
table {
    width: 75%; /* Establecer el ancho al 80% del contenedor */
    margin: 0 auto; /* Centrar la tabla horizontalmente */
    border-collapse: collapse;
}

th, td {
	text-align: center;
	border-bottom: 1px solid #ddd;
}
th {
	background-color: #3498db;
	text-align: center;
	color: white;
}
tr:hover {
	background-color: #f5f5f5;
}
.accion {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px; /* Ajustar el padding para que sea igual en ambos botones */
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    width: 120px; /* Establecer un ancho fijo para los botones */
    max-width: 150px; /* Establecer un ancho máximo para los botones */
    text-overflow: ellipsis; /* Agregar puntos suspensivos (...) al final del texto truncado */
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
}

.accion {
    background-color: #2980b9;
}
